version: "3.9"

services:
  react-app:
    build: ./client
    ports:
      - "5173:5173"
    volumes:
      - ./client:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend
  
  backend:
    build: ./server
    ports:
      - "8000:8000"
