.tableView {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.tableView p {
    color: blue;
}

.table-container {
    width: calc(100%-10vh);
    flex: 1;
    height: 100%;
    text-align: center;
    margin: 5vh;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: auto;
    border: 5px solid midnightblue;
}

h1 {
    color: #1a1a57;
}