.sliderRoot {
    width: 80%;
    height: 10px;
    position: relative;
    display: flex;
    align-items: center;
    background: red;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 6px;
}

.sliderTrack {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: lightgrey;
    border-radius: 5px;
}

.sliderRange {
    height: 100%;
    position: absolute;
    background-color: #4b6fbc;
}

.sliderThumb {
    display: block;
    width: 20px;
    height: 20px;
    background-color: #4b6fbc;
    cursor: grab;
    border-radius: 20px;
    border: 4px solid white;
}

.sliderThumb:active {
    cursor: grabbing;
}