table {
    min-width: 100%;
    box-shadow: 1px 1px 5px #18181820;
    border: 1px solid #000;
    border-collapse: collapse;
    border-left: 0;
    border-radius: 4px;
    border-spacing: 0px;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    border-collapse: collapse;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
tr:nth-child(even) {
    background-color: rgb(161, 161, 255);
}
tr:nth-child(odd) {
    background-color: rgb(195, 195, 242);
}
tr:hover {
    background-color: yellow;
}

th {
    text-align: center;
    background-color: #1a1a57;
    
}
th:hover {
    cursor: pointer;
}

th, td {
    padding: 5px 10px;
    vertical-align: top;
    border-left: 1px solid #000;
}

td {
    text-align: left;
    color: rgb(15, 15, 95);
    border-top: 1px solid #000;
}

thead:first-child tr:first-child th:first-child,
tbody:first-child tr:first-child td:first-child {
    border-radius: 4px 0 0 0;
}
thead:last-child tr:last-child th:last-child,
tbody:last-child tr:last-child td:last-child {
    border-radius: 0 0 0 4px;
}