.navbar {
    background-color: rgb(255, 255, 255);
    color: black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 10px 0;
    transition: all 1s ease;
}

.navbar.collapsed {
    width: 5%;
    height: 5vw;
}

.navbar.expanded {
    width: 20%;
    height: auto;
}

.navbar.collapsed .navbar-content {
    display: none;
}

.navbar.expanded .navbar-content {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.navbar-toggle-btn {
    margin: 1vw 0;
    width: 3vw;
    height: 3vw;
}

.navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
}

.navigation:hover {
    cursor: pointer;
}

.indicator {
    width: 10px;
    height: auto;
    border-radius: 5px;
    box-sizing: border-box;
}

.navigation .indicator.selected {
    border: 5px solid red;
}

.nagivation .indicator.unselected {
    border: none;
}

