.navbar {
    max-height: 90vh;
    background-color: #ddd;
    color: black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 10px 0;
    transition: all 1s ease;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.navbar.collapsed {
    width: 5%;
    height: 5vw;
}
.navbar.expanded {
    width: 25vw;
    height: 100%;
}
.navbar.collapsed .navbar-content {
    transform: translateX(-25vw);
}
.navbar.expanded .navbar-content {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    transition: all 0.5s ease;
}

.navbar-toggle-btn {
    margin: 1vw 0;
    width: 3vw;
    height: 3vw;
}

.navbar-content {
    height: 85%;
    display: flex;
    flex-direction: column;
}

.navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    padding: 5px 0;
}
.navigation:hover {
    cursor: pointer;
    font-weight: bold;
}
.navigation.selected {
    font-weight: bold;
    color: blue;
    background-color:aliceblue;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.indicator {
    width: 10px;
    height: 142%;
    border-radius: 0 5px 5px 0;
    box-sizing: border-box;
    transform: translateY(-14%);
}
.navigation .indicator.selected {
    border: 6px solid #4b6fbc;
}
.nagivation .indicator.unselected {
    border: none;
}

.nav-filter-container {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.year-filter-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company-filter-util-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.company-filter-util-btn {
    padding: 0 20px;
    height: 30px;
    box-sizing: border-box;
}
.company-filter-util-btn:hover {
    border: 3px solid lightskyblue;
    color: lightskyblue;
}

.company-filter-container {
    width: 100%;
    max-height: 83%;
    margin: 10px 0 0 0;
    overflow-y: auto;
    scrollbar-width: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    gap: 10px;
    padding: 0 5px;
    box-sizing: border-box;
    flex: 1;
    background-color: #ccc;
}
.company-filter-contain::-webkit-scrollbar {
    display: none;
}
.company-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: blue;
    cursor: pointer;
    padding: 10px 0;
    box-sizing: content-box;
}
.company-filter.unpicked {
    background-color: #9c9c9c;
}
.company-filter.picked {
    background-color: rgb(115, 115, 255);
    font-weight: bold;
}
.company-filter:hover {
    transform: scale(1.07);
}

